@{
    ViewData["Title"] = "Access Denied";
}
<h1 style="color: red;">@ViewData["Title"]</h1>

<p style="color: red;">This page is available to approved users only. Please request access from your agency Help Desk</p>
