@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color: white;">@ViewData["Title"]</h1>

<p style="color: white;">You are accessing a system managed by the San Diego Sheriff's Department. You have no privacy protection when using the Sheriff's IT resources. All activity is monitored, recorded, and subject to review. In according with the [San Diego] Sheriff's Policy and Procedure manual section 7.12 and 7.13, this device and network are for legal and authorized users of approved agencies ONLY.</p>